
html {
  font-family: 'Lato', sans-serif;
}

body {
  color: #212121;
}


/*** HOMEPAGE ***/

.homepage {
  background-image: url("/img/homepage3.jpg");
  background-repeat: no-repeat;
  background-position: top;
}

.homepage-title {
  font-family: 'Abril Fatface', cursive;
  text-align: left;
  margin-top: 60px;
  margin-right: 10px;
  font-size: 64px;
  color: #000;
}

.homepage-links {
  font-family: 'Abril Fatface', cursive;
  margin-top: 30px;
  margin-right: 10px;
  font-size: 24px;
  color: #000;
}

.navbar {
  background-color: #fff700;
  border: none;
  padding-bottom: 20px;
}

.homepage-list {
  color: #fff;
  font-size: 20px;
}

/*** NEW ROBOT ***/
.test {
  background-image: url("/img/new-form.jpg");
  background-position: center;
  height: 300px;
}

.new-robot-form {
  background-color: #8cc6e3;
  }

/*** ROBOT INFO ***/

.robot-info {
  padding-top: 100px;
}
