
html {
  font-family: "open sans";
  /*font-family: 'Lato', sans-serif;*/
}

body {
  color: #212121;
}


/*** HOMEPAGE ***/

.homepage {
  background-image: url("/img/homepage3.jpg");
  background-repeat: no-repeat;
  background-position: top;
}

.homepage-title {
  font-family: 'Abril Fatface', cursive;
  text-align: left;
  margin-top: 80px;
  font-size: 64px;
  color: #000;
}

.homepage-title h1 {
  text-align: center;
}

.homepage-links {
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  font-family: "open sans";
  margin-top: 20px;
  padding-left: 0px;
  font-size: 24px;
  color: #000;
  text-align: center;
  margin-left: -50px;
}

.homepage-links li {
  display: inline-block;
  padding-right: 20px;
}

.homepage-links li a {
  color: #666;
}

.homepage-links li:first-child a {
}

.navbar {
  background-color: #fff700;
  border: none;
  padding-bottom: 20px;
}

.homepage-list {
  color: #fff;
  font-size: 20px;
}


/*** BREADCRUMB ***/
.breadcrumb {
  background-color: #000;
  border-radius: 0;
  /*border-radius: 0 !important;*/
}

.breadcrumb a {
  color: #f9faec;
}

.breadcrumb li.active{
  color: #666;
}


/*** NEW ROBOT ***/
.test {
  background-image: url("/img/new-form.jpg");
  background-position: center;
  height: 300px;
}

.new-robot-body {
  background-color: #f9faec;
  /*background-color: #80bbd9;*/
  }

.new-robot-form {
  margin-left: 20px;
}

#new-robot-form-title {
  padding-bottom: 15px;
  font-size: 18px;
  }

.btn-submit {
  margin-top: 15px;
  background-color: #ec7e6e;
  align-items: center;
  color: #f9faec;
}

.btn-submit:hover {
  background-color: #c95450;
  color: #f9faec;
}


/*** ROBOT INDEX ***/


/*** ROBOT INFO ***/

.robot-info {
  padding-top: 100px;
}
