<body class=homepage>

<!-- <nav class="navbar navbar-default"> -->
  <div class="col-sm-8 col-sm-offset-4">
    <h1 class="homepage-title">Welcome to Robot World!</h1>
  </div>
<!-- </nav> -->

  <div class="col-sm-8 col-sm-offset-4">
    <div class="">
      <ul class="homepage-links">
        <li><a href="/robots">All Robots</a></li>
        <li><a href="/robots/new">Add New Robot</a></li>
        <li><a href="/robots/dashboard">Dashboard</a></li>
      </ul>
    <div>
  </div>

</body>
