<body class=homepage>

<nav class="navbar navbar-default">
  <div class="col-sm-5 col-sm-offset-7">
    <h1 class="homepage-title">Welcome to Robot World!</h1>
  </div>
</nav>

<div class="col-sm-2 col-sm-offset-10">
  <div class="btn-group">
    <button type="button" class="btn btn-default">Explore</button>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="/robots">Robot List</a></li>
      <li><a href="/robots/new">New Robot</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="/robots/dashboard">Dashboard</a></li>
    </ul>
  </div>
</div>

</body>
