<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/robots">All Robots</a></li>
  <li class="active">Add New Robot</li>
      <li><a href="/robots/dashboard">Dashboard</a></li>
</ol>

<body class="new-or-edit-robot-body">

  <div class="form-group col-md-4 new-robot-form">
    <h4 id="new-edit-robot-form-title">Add a new robot:</h4>

    <form class="form-horizontal" action="/robots" method="post">
      <div class="form-group">
       <label class="col-sm-3 control-label">Name</label>
       <div class="col-sm-6">
         <input type="text" name='robot[name]' placeholder="Name"/>
       </div>
      </div>

      <div class="form-group">
       <label class="col-sm-3 control-label">City</label>
       <div class="col-sm-6">
         <input type="text" name='robot[city]' placeholder="City" />
       </div>
      </div>

      <div class="form-group">
       <label class="col-sm-3 control-label">State</label>
       <div class="col-sm-6">
         <input type="text" name='robot[state]' placeholder="State" />
       </div>
      </div>

      <div class="form-group">
       <label class="col-sm-3 control-label">Birthdate</label>
       <div class="col-sm-6">
         <input type="date" name='robot[birthdate]' placeholder="Birthdate" />
       </div>
      </div>

      <div class="form-group">
       <label class="col-sm-3 control-label">Date Hired</label>
       <div class="col-sm-6">
         <input type="date" name='robot[date_hired]' placeholder="Date Hired" />
       </div>
      </div>

      <div class="form-group">
       <label class="col-sm-3 control-label">Department</label>
       <div class="col-sm-6">
         <input type="text" name='robot[department]' placeholder="Department" />
       </div>
      </div>

      <div class="form-group">
       <label class="col-sm-3 control-label">Avatar</label>
       <div class="col-sm-6">
         <input type="hidden" name='robot[avatar]' value= <%= Faker::Avatar.image %> />
       </div>
      </div>

    <input class="btn btn-submit" type="submit" />
    </form>


</div>
</body>
